body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.content {
    width: 100%;
    // border: 1px solid red;
}

.debug {
    border: 1px solid red;
}

.mt-80{
    margin-top: 50px !important;  
}

.buttonDefault {
    border-radius: 1.5rem;
    height: 3rem;
    width: 100%;
    background-color: #000;
    color: whitesmoke;
    font-weight: bold;
    font-size: 1.3rem;
}

.buttonDefaultInverted {
    border-radius: 1.5rem;
    height: 3rem;
    width: 100%;
    border: .15rem solid #000;
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 1.3rem;
}